# Ignore .pyc files
/**/*.pyc

# Ignore Python Virtual Environment
/venv/*

# Ignore Eclipse project config files
/.project
/.pydevproject

# Ignore Visual Studio project config files
/.vs

# Ignore Cython build related files
*.pyd
*.c
*.so
build_directory/

# Ignore calculation results
/**/*__results/*

# Ignore jupyter notebook checkpoint files
/**/.ipynb_checkpoints/
